# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Test/cache artifacts
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Local environments
.venv/
venv/

# Local temporary folders
.tmp/
.tmpbuild/

# Editor settings
.vscode/

# Notebook artifacts
.ipynb_checkpoints/

# Vscode
.vscode/
